.vscode/
.vscode/chrome-new-user-data/Last Version
.vscode/chrome-new-user-data/Local State
.vscode/chrome-new-user-data/BrowserMetrics/BrowserMetrics-67AB9767-15D4.pma
.vscode/chrome-new-user-data/Default/History
.vscode/chrome-new-user-data/Default/Preferences
.vscode/chrome-new-user-data/Default/Secure Preferences
.vscode/chrome-new-user-data/Default/Top Sites
.vscode/chrome-new-user-data/Default/Web Data
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/data_0
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/data_1
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/data_2
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/data_3
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/f_000001
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/f_000002
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/f_000003
.vscode/chrome-new-user-data/Default/Cache/Cache_Data/index
.vscode/chrome-new-user-data/Default/Code Cache/js/123815a8a03c01ce_0
.vscode/chrome-new-user-data/Default/Code Cache/js/b43b614a6e49c27a_0
.vscode/chrome-new-user-data/Default/Code Cache/js/index-dir/the-real-index
.vscode/chrome-new-user-data/Default/Code Cache/wasm/index-dir/the-real-index
.vscode/chrome-new-user-data/Default/DawnGraphiteCache/data_1
.vscode/chrome-new-user-data/Default/DawnGraphiteCache/index
.vscode/chrome-new-user-data/Default/DawnWebGPUCache/data_1
.vscode/chrome-new-user-data/Default/DawnWebGPUCache/index
.vscode/chrome-new-user-data/Default/Extension State/LOG
.vscode/chrome-new-user-data/Default/GPUCache/data_0
.vscode/chrome-new-user-data/Default/GPUCache/data_1
.vscode/chrome-new-user-data/Default/GPUCache/data_2
.vscode/chrome-new-user-data/Default/GPUCache/index
.vscode/chrome-new-user-data/Default/Local Storage/leveldb/000003.log
.vscode/chrome-new-user-data/Default/Local Storage/leveldb/LOG
.vscode/chrome-new-user-data/Default/Network/Network Persistent State
.vscode/chrome-new-user-data/Default/Network/TransportSecurity
.vscode/chrome-new-user-data/Default/Network/Trust Tokens
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/index.txt
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/02be993aeb4633f0_0
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/3fb0d11cb0ceeec9_0
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/3fb0d11cb0ceeec9_1
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/5895e30bab9d7fa3_0
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/49387ab4cd94fe71_0
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/index
.vscode/chrome-new-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/942628c5-74d9-4ffb-83c0-c5068a14126a/index-dir/the-real-index
.vscode/chrome-new-user-data/Default/Service Worker/Database/000003.log
.vscode/chrome-new-user-data/Default/Service Worker/Database/LOG
.vscode/chrome-new-user-data/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
.vscode/chrome-new-user-data/Default/Service Worker/ScriptCache/index-dir/the-real-index
.vscode/chrome-new-user-data/Default/Session Storage/000003.log
.vscode/chrome-new-user-data/Default/Session Storage/LOG
.vscode/chrome-new-user-data/Default/Sessions/Session_13383772266094640
.vscode/chrome-new-user-data/Default/Sessions/Tabs_13383772266102510
.vscode/chrome-new-user-data/Default/Shared Dictionary/cache/index-dir/the-real-index
.vscode/chrome-new-user-data/Default/Site Characteristics Database/000003.log
.vscode/chrome-new-user-data/Default/Site Characteristics Database/LOG
.vscode/chrome-new-user-data/Default/Sync Data/LevelDB/LOG
.vscode/chrome-new-user-data/Default/WebStorage/QuotaManager
.vscode/chrome-new-user-data/Default/shared_proto_db/000003.log
.vscode/chrome-new-user-data/Default/shared_proto_db/LOG
.vscode/chrome-new-user-data/Default/shared_proto_db/metadata/000003.log
.vscode/chrome-new-user-data/Default/shared_proto_db/metadata/LOG
.vscode/chrome-new-user-data/GrShaderCache/data_0
.vscode/chrome-new-user-data/GrShaderCache/data_1
.vscode/chrome-new-user-data/GrShaderCache/data_3
.vscode/chrome-new-user-data/GrShaderCache/index
.vscode/chrome-new-user-data/GraphiteDawnCache/data_1
.vscode/chrome-new-user-data/GraphiteDawnCache/index
.vscode/chrome-new-user-data/ShaderCache/data_1
.vscode/chrome-new-user-data/ShaderCache/index
.vscode/chrome-new-user-data/segmentation_platform/ukm_db-wal
.vscode/chrome-old-user-data/first_party_sets.db
.vscode/chrome-old-user-data/Local State
.vscode/chrome-old-user-data/Default/BrowsingTopicsState
.vscode/chrome-old-user-data/Default/DIPS
.vscode/chrome-old-user-data/Default/History
.vscode/chrome-old-user-data/Default/Preferences
.vscode/chrome-old-user-data/Default/Cache/Cache_Data/0bda3ff43bfbe097_0
.vscode/chrome-old-user-data/Default/Cache/Cache_Data/b5862440bf36d183_0
.vscode/chrome-old-user-data/Default/Cache/Cache_Data/bffa3fd38d5efcd1_0
.vscode/chrome-old-user-data/Default/Cache/Cache_Data/d3bd38c4e4c18fe2_0
.vscode/chrome-old-user-data/Default/Cache/Cache_Data/d2346c0efa45bbb0_0
.vscode/chrome-old-user-data/Default/Cache/Cache_Data/index-dir/the-real-index
.vscode/chrome-old-user-data/Default/DawnGraphiteCache/index
.vscode/chrome-old-user-data/Default/DawnWebGPUCache/index
.vscode/chrome-old-user-data/Default/Extension State/LOG
.vscode/chrome-old-user-data/Default/Extension State/LOG.old
.vscode/chrome-old-user-data/Default/GPUCache/data_1
.vscode/chrome-old-user-data/Default/GPUCache/index
.vscode/chrome-old-user-data/Default/Local Storage/leveldb/LOG
.vscode/chrome-old-user-data/Default/Local Storage/leveldb/LOG.old
.vscode/chrome-old-user-data/Default/Network/Network Persistent State
.vscode/chrome-old-user-data/Default/Network/TransportSecurity
.vscode/chrome-old-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/index.txt
.vscode/chrome-old-user-data/Default/Service Worker/CacheStorage/b1204ba490ed22daa04886286a669c67b5d5362d/53bef0a6-f51e-4364-b420-f1f8e159b058/index-dir/the-real-index
.vscode/chrome-old-user-data/Default/Service Worker/Database/000003.log
.vscode/chrome-old-user-data/Default/Service Worker/Database/LOG
.vscode/chrome-old-user-data/Default/Service Worker/Database/LOG.old
.vscode/chrome-old-user-data/Default/Service Worker/ScriptCache/2cc80dabc69f58b6_0
.vscode/chrome-old-user-data/Default/Service Worker/ScriptCache/index-dir/the-real-index
.vscode/chrome-old-user-data/Default/Session Storage/000003.log
.vscode/chrome-old-user-data/Default/Session Storage/LOG
.vscode/chrome-old-user-data/Default/Session Storage/LOG.old
.vscode/chrome-old-user-data/Default/Sessions/Session_13384544294656026
.vscode/chrome-old-user-data/Default/Sessions/Tabs_13384544294808891
.vscode/chrome-old-user-data/Default/Site Characteristics Database/000003.log
.vscode/chrome-old-user-data/Default/Site Characteristics Database/LOG
.vscode/chrome-old-user-data/Default/Site Characteristics Database/LOG.old
.vscode/chrome-old-user-data/Default/Sync Data/LevelDB/LOG
.vscode/chrome-old-user-data/Default/Sync Data/LevelDB/LOG.old
.vscode/chrome-old-user-data/Default/WebStorage/QuotaManager
.vscode/chrome-old-user-data/Default/shared_proto_db/000003.log
.vscode/chrome-old-user-data/Default/shared_proto_db/LOG
.vscode/chrome-old-user-data/Default/shared_proto_db/LOG.old
.vscode/chrome-old-user-data/Default/shared_proto_db/metadata/000003.log
.vscode/chrome-old-user-data/Default/shared_proto_db/metadata/LOG
.vscode/chrome-old-user-data/Default/shared_proto_db/metadata/LOG.old
.vscode/chrome-old-user-data/GrShaderCache/data_1
.vscode/chrome-old-user-data/GrShaderCache/index
.vscode/chrome-old-user-data/GraphiteDawnCache/index
.vscode/chrome-old-user-data/ShaderCache/data_1
.vscode/chrome-old-user-data/ShaderCache/index
__pycache__/main.cpython-312.pyc
config/config.json
